/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font-family), serif;
  font-size: 18px;
  background-color: #d3d3d3;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight);
}

.content {
  width: min(700px, 100%);
  margin: 100px auto;
}

.header {
  width: 100%;
  border: 2px solid var(--border-color);
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem)
    clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  font-family: var(--accent-font-family);
  background-color: var(--main-background-color);
}

.header__logo {
  margin-bottom: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-align: center;
}

.header__caption {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
  text-transform: uppercase;
}

.main {
  margin: 100px 0;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

.card {
  border: 2px solid var(--border-color);
  background-color: var(--main-background-color);
}

.card__header {
  padding: 4.99px 10px 3.8px;
  font-variation-settings: "wght" var(--header-font-weight);
}

.card__image-container {
  position: relative;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.card__image-text {
  position: absolute;
  top: clamp(1.4375rem, 1.3935rem + 0.1878vw, 1.5625rem);
  right: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  z-index: 1;
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-shadow: 0 0 1px var(--text-stroke-color);
}

@supports (
  (text-stroke: 1px var(--text-stroke-color)) or
    (-webkit-text-stroke: 1px var(--text-stroke-color))
) {

  .card__image-text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    /* stylelint-disable-next-line property-no-unknown */
    text-stroke: 1px var(--text-stroke-color);
  }
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: right;
  overflow: hidden;
  inline-size: 100%;
  aspect-ratio: 1;
}

.grayscale-filter {
  filter: contrast(0.7) brightness(1.8) grayscale(0.8);
}

.rotated-color-filter {
  filter: hue-rotate(90deg) brightness(1.5) contrast(1.5);
}

.another-dimension-filter {
  filter: invert(1) saturate(0.8) contrast(1.2);
}

.bright-filter {
  filter: brightness(4) saturate(1.7);
}

.old-filter {
  filter: sepia(0.8) contrast(1.7);
}

.blur-filter {
  filter: blur(10px) contrast(0.6) brightness(1.3);
}

.all-filters {
  filter: sepia(0.3) grayscale(0.2) contrast(1.3) blur(5px) brightness(1.6)
    invert(0.3) hue-rotate(238deg) saturate(1.6);
}

.card__text-area {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px;
  line-height: 21px;
}

.card__footer {
  display: flex;
  place-content: center end;
}

.card__buttons {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0 25px 25px 0;
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
  outline: none;
}

@keyframes like-scale {

  to {
    transform: scale(1.25);
  }
}

@keyframes like-sparks {
  
  to {
    opacity: 1;
  }
}

.like-icon {
  display: block;
  inline-size: 34px;
  block-size: 34px;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: like-scale 0.3s 0.1s ease-in;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--icon-contour-color);
  transition-delay: 0s;
}

.like-icon:active .core,
.like-icon.is-liked .core {
  fill: var(--icon-fill-color);
  transition-delay: 0s;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--icon-contour-color);
  transition-delay: 0.05s;
}

.like-icon:active .main-body,
.like-icon.is-liked .main-body {
  fill: var(--icon-fill-color);
  transition-delay: 0.05s;
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--icon-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: like-sparks 0.3s 0.3s ease-in;
}

.text-button {
  position: relative;
  border: 2px solid var(--border-color);
  line-height: 12.6px;
  background-color: var(--main-background-color);
}

.text-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
  transition: box-shadow 0.2s ease-in;
}

.text-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.text-button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  padding: 10.5px 0;
  min-inline-size: 130px;
}

.button__text {
  color: var(--main-text-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  mix-blend-mode: difference;
}

.main__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 50px auto 0;
  padding: 15px 20px;
}

.main__button-icon {
  filter: brightness(0) invert(1);
  inline-size: 21px;
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  
  .main__button {
    flex-direction: column;
  }

  .main__button-icon {
    inline-size: 28px;
  }
}

.dialog[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  padding: 30px;
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
}

.dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__icon {
  inline-size: 39px;
}

.dialog__text {
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 1.5em;
  text-transform: uppercase;
}

.dialog__button {
  grid-column: 1/-1;
  padding: 9px 0;
}
