/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: "Inter";
  --accent-font-family: "PressStart2P";
  --main-font-weight: 400;
  --header-font-weight: 700;
  --text-stroke-color: #ffffff80;
  --accent-color: black;
  --border-color: black;
  --main-text-color: white;
  --main-background-color: white;
  --background-gradient:
    repeating-linear-gradient(
      90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#e7e7e7, #1a1a1a), linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --icon-contour-color: black;
  --icon-fill-color: red;
}
